<div class="parent">
    <app-greetings-header></app-greetings-header>
    <div class="list">
        <app-application-list-item 
            title="Designer"
            typ="Praktikum"
            startDate="30.06.2022"
            description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit facere consequuntur sit, laboriosam
            pariatur odio accusamus debitis culpa fuga architecto cupiditate excepturi quaerat quasi exercitationem
            numquam, commodi nam consectetur. Necessitatibus."
            [progress]="40"

        ></app-application-list-item>
        <app-application-list-item 
            title="Designer"
            typ="Praktikum"
            startDate="30.06.2022"
            description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit facere consequuntur sit, laboriosam
            pariatur odio accusamus debitis culpa fuga architecto cupiditate excepturi quaerat quasi exercitationem
            numquam, commodi nam consectetur. Necessitatibus."
            [progress]="40"

        ></app-application-list-item>
        <app-application-list-item 
            title="Designer"
            typ="Praktikum"
            startDate="30.06.2022"
            description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit facere consequuntur sit, laboriosam
            pariatur odio accusamus debitis culpa fuga architecto cupiditate excepturi quaerat quasi exercitationem
            numquam, commodi nam consectetur. Necessitatibus."
            [progress]="40"

        ></app-application-list-item>
    </div>
</div>
