<div
  class="parent"
  *ngIf="applications$ | async | successValue as applications"
>
  <app-greetings-header
    [amoutOfApplicaions]="applications.length"
  ></app-greetings-header>
  <h3 *ngIf="applications$ | async | isInProgress">
    Bewerbungen werden geladen...
  </h3>
  <h3 *ngIf="applications$ | async | isFailure">
    Bewerbungen konnten nicht geladen werden!
  </h3>
  <div class="list" *ngIf="applications$ | async | isSuccess">
    <ng-container
      ><app-application-list-item
        *ngFor="let application of applications"
        [id]="application.bewerbungid ?? 100000000"
        [title]="application.jobangebot.title"
        [typ]="application.jobangebot.bewerbungstyp.art"
        [startDate]="application.datum"
        [description]="application.jobangebot.kurzbeschreibung"
        [status]="application.status"
      ></app-application-list-item
    ></ng-container>
  </div>
</div>
