@import "../../../../scss/colors.scss";

.container {
  height: 100%;
  background: linear-gradient(66deg, $color-4 0%, $color-5 50%, $color-5 100%);
  padding: 50px;
  box-sizing: border-box;
  width: 100%;

  ul {
    @media screen and (max-width: 1444px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      @media screen and (max-width: 576px) {
        flex-direction: column;
        justify-content: center;
        align-items:center;
      }
    }

    .empty {
      height: 50px;
    }

    li {
      margin-bottom: 30px;
      transition: all 0.35s ease;

      a {
        color: $color-2;
        font-size: 1.5em;
        font-weight: 600;
        position: relative;
        padding: 0.2em 0.5em;
        margin: 0.2em 0;

        &::before,
        &::after {
          height: 14px;
          width: 14px;
          position: absolute;
          content: "";
          transition: all 0.35s ease;
          opacity: 0;
        }

        &::before {
          left: 0;
          top: 0;
          border-left: 3px solid $color-1;
          border-top: 3px solid $color-1;
          transform: translate(100%, 50%);
        }

        &::after {
          right: 0;
          bottom: 0;
          border-right: 3px solid $color-1;
          border-bottom: 3px solid $color-1;
          transform: translate(-100%, -50%);
        }

        &:hover::before,
        &:hover::after {
          transform: translate(0%, 0%);
          opacity: 1;
        }
      }
    }
  }
}
