<a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
  <div class="card">
    <p class="tui-text_h6">Settings</p>
    <img src="assets/settings.svg" alt="" />
    <form>
      <div class="content">
        <div class="point">
          <p>Mails bekommen</p>
          <tui-toggle
            [formControl]="mailControl"
            size="l"
            (click)="toggleMails()"
          ></tui-toggle>
        </div>
        <div class="point">
          <p>2FA</p>
          <tui-toggle
            [formControl]="twofaControl"
            size="l"
            (click)="toggleTwoFa()"
          ></tui-toggle>
        </div>
        <br />
        <button tuiButton (click)="saveSettings()">Speichern</button>
      </div>
    </form>
  </div>
</a>
