<div>
    <div class="interests">
        <tui-badge size="l" status="primary" value="Tennis"></tui-badge>
        <tui-badge size="l" status="primary" value="Tennis"></tui-badge>
        <tui-badge size="l" status="primary" value="Tennis"></tui-badge>
        <tui-badge size="l" status="primary" value="Tennis"></tui-badge>
        <tui-badge size="l" status="primary" value="Tennis"></tui-badge>
        <tui-badge size="l" status="primary" value="Tennis"></tui-badge>
        <tui-badge size="l" status="primary" value="Tennis"></tui-badge>
        <tui-badge size="l" status="primary" value="Tennis"></tui-badge>
        <tui-badge size="l" status="primary" value="Tennis"></tui-badge>

    </div>
    <div class="button">
        <button tuiButton type="button" size="m" icon="tuiIconPlusLarge">
            Add
        </button>
    </div>
</div>