@import "../../../../../scss/colors.scss";

.panel {
  .carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  tui-pagination {
    margin-top: 10px;
  }
}
