<div tuiGroup class="group">
  <tui-select
    tuiTextfieldSize="l"
    class="tui-group__inherit-item first-select"
    [tuiTextfieldLabelOutside]="true"
    [formControl]="typeFormControl"
    >Art der Beschäftigung
    <tui-data-list-wrapper
      *tuiDataList
      [items]="mockTypesOfEmployment"
    ></tui-data-list-wrapper
  ></tui-select>
  <tui-select
    tuiTextfieldSize="l"
    class="tui-group__inherit-item"
    [tuiTextfieldLabelOutside]="true"
    [formControl]="distanceFormControl"
    >Im Umkreis von...
    <tui-data-list-wrapper
      *tuiDataList
      [items]="mockDistances"
    ></tui-data-list-wrapper
  ></tui-select>
  <tui-select
    tuiTextfieldSize="l"
    class="tui-group__inherit-item b-form"
    [formControl]="expertiseFormControl"
    >Fachgebiet
    <tui-data-list-wrapper
      *tuiDataList
      size="l"
      [items]="mockExpertiseAreas"
      [itemContent]="content"
    ></tui-data-list-wrapper
  ></tui-select>
  <button tuiButton iconRight="tuiIconSearch" appearance="whiteblock">
    Suchen
  </button>
</div>

<ng-template #content let-data>
  <div class="template">
    <tui-avatar size="xs" class="avatar" [text]="data.text"></tui-avatar>
    <div class="name">{{ data.text }}</div>
  </div>
</ng-template>
