.group {
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
}

.template {
  display: flex;
  align-items: center;

  .avatar {
    margin-right: 8px;
    flex-shrink: 0;
  }

  .name {
    text-overflow: ellipsis;
    flex-shrink: 1;
  }
}
