@import "../../../../../scss/colors.scss";

.item {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;

  tui-marker-icon {
    background-color: $color-1;
  }

  label {
    font-size: 1.2rem;
  }
}
