@import "../../../../../scss/colors.scss";

a {
    padding: 0px;
    border-radius: 16pt;
}
.parent {
    display: flex;
    flex-direction: column;

    background-color: $color-4;
    max-width: 500px;
    border-radius: 16pt;

    .info {
        background-color: #7dff63;
        border-radius: 16pt 16pt 16pt 0pt;
        .heading {
            display: flex;
            flex-direction: row;

            padding-left: 32pt;
            padding-right: 32pt;

            justify-content: space-between;
            align-items: center;
            color: black;

            h2 {
                font-weight: bolder;
            }
            .badge {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 10px;
                tui-badge {
                    color: black;
                }
            }
        }
        p {
            font-size: 12px;
            padding: 0pt 16pt 0pt 16pt;
        }
    }

    .content {
        padding: 0pt 32pt 32pt 32pt;

        form{
            display: flex;
            flex-direction: row;
            gap: 100px;
        }
        .point{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            tui-toggle{
              --tui-primary: #7DFF63;
              --tui-primary-hover: #7DFF63;
            }
            
        }
    }
}
