@import "../../../../../scss/colors.scss";

.container {
  width: 100%;
  background-image: url("../../../../../assets/background_desk.jpg");
  display: flex;
  align-items: center;
  justify-content: center;

  .info {
    width: 80%;
    max-width: 600px;
    margin: 20px;
    background-color: $color-1;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 3rem;
    gap: 10px;

    .icon {
      width: 150px;
      height: 150px;
      img{
        min-width: 50px;
      }
    }

    .text {
      height: 150px;
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;

      .rows {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .row {
          display: flex;
          justify-content: center;
          .country {
            font-size: 1.5em;
            font-weight: 900;
          }

          .flag {
            margin-left: 10px;
            font-size: 1.5rem;
          }

          .job {
            font-size: 2em;
            font-weight: 900;
          }

          .fa-icon {
            position: absolute;
            top: 6px;
          }
        }

        .tags{
          width: 90%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 10px;
          tui-tag {
            background-color: $color-3;
          }
        }
      }
    }
  }
}
