<div class="panel">
  <div class="step">
    <div class="counter">1</div>
    <img src="assets/create-account.svg" alt="" />
    <div class="title">Account erstellen</div>
    <div class="text">
      Erstelle dir deinen persönlichen Account, um alle deine Daten gesammelt an
      einem Ort wiederzufinden.
    </div>
  </div>
  <div class="step">
    <div class="counter">2</div>
    <img src="assets/add_files.svg" alt="" />
    <div class="title">Dokumente hochladen</div>
    <div class="text">
      Lade einige Dokument wie ein Passbild oder deinen Lebenslauf in deinem
      Profil hoch, um sie bequem bei jeder Bewerbung anzuhängen.
    </div>
  </div>
  <div class="step">
    <div class="counter">3</div>
    <img src="assets/search_job.svg" alt="" />
    <div class="title">Jobangebot suchen</div>
    <div class="text">
      Finde unter all den möglichen Kategorien das Jobangebot, was am besten auf
      dich zutrifft. Dir helfen unsere zahlreichen Filteroptionen.
    </div>
  </div>
  <div class="step">
    <div class="counter">4</div>
    <img src="assets/apply.svg" alt="" />
    <div class="title">Bewerben</div>
    <div class="text">
      Schick deine Bewerbung ganz einfach über unser System ab. Den aktuellen
      Status kannst du in deinem Profil einsehen.
    </div>
  </div>
</div>
