.panel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .grid {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    grid-gap: 15px; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 15px;

    app-category-card {
      width: 300px;
    }
  }
}
