<div class="panel">
  <div class="grid">
    <app-category-card category="Personal" [jobs]="13"></app-category-card
    ><app-category-card category="Designer" [jobs]="81"></app-category-card
    ><app-category-card category="Informatiker" [jobs]="123"></app-category-card
    ><app-category-card category="Mathematiker" [jobs]="5"></app-category-card
    ><app-category-card category="Finanzen" [jobs]="19"></app-category-card>

    <app-category-card category="Techniker" [jobs]="47"></app-category-card
    ><app-category-card category="Verwaltung" [jobs]="29"></app-category-card
    ><app-category-card category="Reinigung" [jobs]="64"></app-category-card
    ><app-category-card category="Sekretär" [jobs]="1"></app-category-card
    ><app-category-card category="Verpflegung" [jobs]="9"></app-category-card>
  </div>
</div>
