@import '../../../../scss/colors.scss';

.main{
    position: relative;
    min-height: 100px;
    height: 100%;
    width: 100%;
}
.image{
    @media screen and (max-width: 480px) {
       height: 150px;
    }
    @media screen and (min-width: 481px) {
        height: 150px;
    }
    @media screen and (min-width: 1200px) {
        height: 250px;
    }
    @media screen and (min-width: 1450px) {
        height: 300px;
    }
    background-color: $color-4;
    
    width: 90%;
    border-radius: 0px 500px 500px 0px;

    
}

.content{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    img{
        padding: 16px;
        @media screen and (max-width: 540px) {
            visibility: collapse;
            width: 0px;
         }
    }
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @media screen and (max-width: 799px) {
        padding-left: 15px;
    }
    @media screen and (min-width: 800px) {
        padding-left: 80px;
    }
    
    p{
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        .markup{
            color: #7DFF63;
        }
       
    }

    #heading{
        font-size: 80px;
        
        margin: 0px;
        @media screen and (max-width: 399px) {
            font-size: 40px;
            line-height: 40px;
        }
        @media screen and (min-width: 400px) {
            font-size: 40px;
            line-height: 40px;
        }
        @media screen and (min-width: 800px) {
            font-size: 40px;
            line-height: 40px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 80px;
            line-height: 80px;
        }
    }

    #content{
        @media screen and (max-width: 670px) {
            visibility: collapse;
            height: 0px;
        }
        @media screen and (min-width: 400px) {
            font-size: 20px;
            line-height: 20px;
        }
        @media screen and (min-width:1500px) {
            font-size: 40px;
            line-height: 40px;
        }
    }
}