<app-header></app-header>

<div class="container">
    <div class="column column-left">
        <app-overview-section></app-overview-section>
        <app-overview-section></app-overview-section>
        <app-overview-section></app-overview-section>
    </div>
    <div class="column column-right">
        <div class="box">
            <span class="heading">Bezahlung</span>
            <div class="line">
                <hr class="hr-grey">
                <hr class="hr-green">
            </div>
            <span class="money">70.000€ - 80.000€</span>
        </div>
        <div class="box">
            <span class="heading">Kurzüberblick</span>
            <div class="line">
                <hr class="hr-grey">
                <hr class="hr-green">
            </div>
            <app-information-item></app-information-item>
        </div>
    </div>
</div>