@import "../../../../../scss/colors.scss";

.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .column-left {
    width: 65%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 10px;

    .line {
      height: fit-content;
      margin-top: 10px;
      margin-bottom: 25px;
      position: relative;

      hr {
        border-radius: 3px;
      }

      .hr-grey {
        border: 2px solid $color-4;
      }

      .hr-green {
        width: 75px;
        border: 2px solid $color-2;
        position: absolute;
        top: 0;
      }
      
    }
    .heading {
      font-size: 1.5rem;
    }

    .contact {
      padding: 30px;
      border-radius: 16pt;
      background-color: $color-4;
      height: fit-content;
      
      
    }

    .sendApplication {
      padding: 30px;
      border-radius: 16pt;
      background-color: $color-4;
      height: fit-content;

      .cv {
        width: 450px;
        height: 100px;
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: flex-start;
        gap: 30px;
      }
    }
  }

  .column-right {
    width: 30%;
    margin-bottom: 50px;
    .box {
      width: 95%;
      padding: 16px;
      box-shadow: 0px 0px 10px 5px rgba(107, 110, 112, 1);
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 30px;

      .heading {
        font-size: 1.5rem;
      }

      .line {
        height: fit-content;
        margin-top: 10px;
        margin-bottom: 25px;
        position: relative;

        hr {
          border-radius: 3px;
        }

        .hr-grey {
          border: 2px solid $color-4;
        }

        .hr-green {
          width: 75px;
          border: 2px solid $color-2;
          position: absolute;
          top: 0;
        }
      }

      .money {
        margin-top: 10px;
        font-size: 2.5rem;
        font-weight: 800;
        color: #b3b3b3;
      }

      tui-input {
        margin-bottom: 20px;
      }
    }
  }
}

.chat {
  .scrollbar {
    height: 100%;
  }
  width: 450px;
  max-height: 420px;
  border-radius: 16pt;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px 10px 20px;

    .applicantN {
      background-color: $color-3;
      width: 85%;
      padding: 5px;
      border-radius: 5pt;
      align-self: flex-start;
      padding-inline: 10px;
    }

    .employerN {
      background-color: $color-3;
      width: 85%;
      padding: 5px;
      border-radius: 5pt;
      align-self: flex-end;
      padding-inline: 10px;
    }
  }

  .input {
    padding-inline: 10px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: space-between;
    gap: 10px;

    tui-input {
      width: 80%;
    }
  }
}
