@import "../../../../../scss/colors.scss";

.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .column {
    // background-color: aqua;
    height: 400px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: auto;
  }

  .column-left {
    width: 65%;

    .heading {
      box-sizing: border-box;
      padding: 10px;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      background-color: $color-2;
      border-radius: 5px;
      color: $color-4;

      span {
        margin-left: 10px;
      }
    }
    .text {
      color: #ffffff;
      font-size: 1.2rem;
      padding: 10px 0;
      text-align: justify;
    }
  }

  .column-right {
    width: 30%;
  }
}
