<app-header></app-header>

<div class="container">
    <div class="column column-left">
        <app-overview-section></app-overview-section>
    </div>
    <div class="column column-right">
        <div class="box">
            <span class="heading">Bezahlung</span>
            <div class="line">
                <hr class="hr-grey">
                <hr class="hr-green">
            </div>
            <span class="money">[montasgehalt]</span>
        </div>
        <div class="box">
            <span class="heading">Kurzüberblick</span>
            <div class="line">
                <hr class="hr-grey">
                <hr class="hr-green">
            </div>
            <app-information-item title="Fachgebiet" value="[fachgebiet]"></app-information-item>
            <hr>
            <app-information-item title="Typ" value="[Bewerbungstyp]"></app-information-item>
            <hr>
            <app-information-item title="Jahresgehalt" value="[gehalt]€"></app-information-item>
            <hr>
            <app-information-item title="Urlaubstage" value="[Urlaubstage]"></app-information-item>
            <hr>
            <app-information-item title="Remote" value="[Ja NEin]"></app-information-item>
            <hr>
            <app-information-item title="Befristet" value="[Ja NEin]"></app-information-item>
            <hr>
            <app-information-item title="Start" value="[Datum]"></app-information-item>
            <hr>
            <app-information-item title="Ende" value="[nur falls Befristet]"></app-information-item>
            <hr>
        </div>
        <div class="box">
            <span class="heading">Kontakt</span>
            <div class="line">
                <hr class="hr-grey">
                <hr class="hr-green">
            </div>
            <tui-input tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
                Betreff
                <input tuiTextfield type="text" />
            </tui-input>
            <tui-text-area [expandable]="false">
                Nachricht
            </tui-text-area>
        </div>
    </div>
</div>