<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form class="sign-in-form">
        <h2 class="title">Anmelden</h2>
        <div class="input-field">
          <fa-icon [icon]="faUser"></fa-icon>
          <input type="text" placeholder="Nutzername" />
        </div>
        <div class="input-field">
          <fa-icon [icon]="faLock"></fa-icon>
          <input type="password" placeholder="Passwort" />
        </div>
        <input
          type="submit"
          value="Login"
          class="button"
          (click)="show2FADialog()"
        />
      </form>

      <form class="sign-up-form">
        <h2 class="title">Registrieren</h2>
        <div class="input-field">
          <fa-icon [icon]="faUser"></fa-icon>
          <input type="text" placeholder="Nutzername" />
        </div>
        <div class="input-field">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <input type="text" placeholder="Email" />
        </div>
        <div class="input-field">
          <fa-icon [icon]="faLock"></fa-icon>
          <input type="password" placeholder="Passwort" />
        </div>
        <input type="submit" value="Registrieren" class="button" />
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Neu hier?</h3>
        <p>
          Registriere dich jetzt und habe Zugriff auf viele exklusive
          Jobangebote. Über unsere Plattform kannst du dich einfach und
          unkompliziert bewerben!
        </p>
        <button
          class="button transparent"
          id="sign-up-button"
          (click)="changeToSignUp()"
        >
          Registrieren
        </button>
      </div>
      <img src="assets/desk.svg" alt="" />
    </div>

    <div class="panel right-panel">
      <div class="content">
        <h3>Bereits registriert?</h3>
        <p>
          Dann kehre auf die Login-Seite zurück und melde dich im Portal an!
        </p>
        <button
          class="button transparent"
          id="sign-up-button"
          (click)="changeToSignIn()"
        >
          Anmelden
        </button>
      </div>
      <img src="assets/rocket.svg" alt="" />
    </div>
  </div>
</div>

<tui-root class="dialog">
  <ng-template
    let-observer
    [tuiDialogOptions]="
      $any({ label: '2-Faktor-Authentifizierung', size: 's' })
    "
    [(tuiDialog)]="open2FA"
  >
    <form>
      <p>Bitte gib die PIN ein, den wir dir per Mail zugeschickt haben!</p>
      <tui-input
        tuiAutoFocus
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="pinValue"
        >PIN</tui-input
      >
      <p>
        <button tuiButton (click)="observer.complete()">Login</button>
      </p>
    </form>
  </ng-template>
</tui-root>
