<app-header
  text="Die von dir erstellten"
  markup="Jobangebote!"
  img="assets/interview.svg"
></app-header>
<h3 *ngIf="jobs$ | async | isInProgress">Jobs werden geladen...</h3>
<h3 *ngIf="jobs$ | async | isFailure">Jobs konnten nicht geladen werden!</h3>
<div class="container" *ngIf="jobs$ | async | isSuccess">
  <ng-container *ngIf="jobs$ | async | successValue as jobs">
    <app-job-offer
      *ngFor="let job of jobs"
      [title]="job.title"
      [typ]="job.bewerbungstyp.art"
      [startDate]="job.start"
      [description]="job.kurzbeschreibung"
      [id]="job.jobangebotid"
      [pinned]="job.vonchefgepinnt"
    ></app-job-offer>
  </ng-container>
</div>
