<div class="panel">
  <button
    tuiIconButton
    icon="tuiIconChevronLeftLarge"
    appearance="secondary"
    shape="rounded"
    size="m"
    (click)="navigate(-1)"
  ></button>
  <tui-carousel [(index)]="carouselIndex" [itemsCount]="numberOfItems">
    <app-trend-job-card *tuiItem title="Job 1"></app-trend-job-card>
    <app-trend-job-card *tuiItem title="Job 2"></app-trend-job-card>
    <app-trend-job-card *tuiItem title="Job 3"></app-trend-job-card>
    <app-trend-job-card *tuiItem title="Job 4"></app-trend-job-card>
  </tui-carousel>
  <button
    tuiIconButton
    icon="tuiIconChevronRightLarge"
    appearance="secondary"
    shape="rounded"
    size="m"
    (click)="navigate(1)"
  ></button>
</div>
