<div class="panel">
  <button
    tuiIconButton
    icon="tuiIconChevronLeftLarge"
    appearance="secondary"
    shape="rounded"
    size="m"
    (click)="carousel.prev()"
  ></button>
  <tui-carousel #carousel [itemsCount]="4">
    <app-trend-job-card *tuiItem></app-trend-job-card>
    <app-trend-job-card *tuiItem></app-trend-job-card>
    <app-trend-job-card *tuiItem></app-trend-job-card>
    <app-trend-job-card *tuiItem></app-trend-job-card>
  </tui-carousel>
  <button
    tuiIconButton
    icon="tuiIconChevronRightLarge"
    appearance="secondary"
    shape="rounded"
    size="m"
    (click)="carousel.next()"
  ></button>
</div>
