<div class="container">
  <div class="info-panel">
    <span class="title"
      >Jobs in deiner Nähe <span class="green">Bewirb dich jetzt</span>
    </span>
    <span class="subtitle">Noch nie war die Jobsuche so einfach...</span>
    <div class="search">
      <app-search></app-search>
    </div>
  </div>
  <div class="divider"></div>
  <div class="trends-panel">
    <div class="heading">Aktuelle Trends</div>
    <h3 *ngIf="trendJobs$ | async | isInProgress">
      Job Trends werden geladen...
    </h3>
    <div *ngIf="trendJobs$ | async | isSuccess">
      <app-trends></app-trends>
    </div>
    <h3 *ngIf="trendJobs$ | async | isFailure">
      Job Trends konnten nicht geladen werden!
    </h3>
  </div>
  <div class="section">
    <div class="divider"></div>
    <div class="how-it-works-panel">
      <div class="heading">So funktioniert's...</div>
      <app-how-it-works></app-how-it-works>
    </div>
  </div>
  <div class="divider"></div>
  <div class="categories-panel">
    <div class="heading">Fachgebiete</div>
    <h3 *ngIf="fachgebiete$ | async | isInProgress">
      Fachgebiete werden geladen...
    </h3>
    <div *ngIf="fachgebiete$ | async | isSuccess">
      <app-categories></app-categories>
    </div>
    <h3 *ngIf="fachgebiete$ | async | isFailure">
      Fachgebiete konnten nicht geladen werden!
    </h3>
  </div>
</div>
