<app-header
  text="Mit dir ins Team"
  markup="gekommen!"
  img="assets/interview.svg"
></app-header>

<ng-container *ngIf="applications$ | async | successValue as applications">
  <div class="container" *ngFor="let application of applications">
    <a tuiIsland [hoverable]="true" class="application">
      <div class="info">
        <div class="heading">
          <h2>
            {{ application.bewerber.vorname + " " + application.bewerber.name }}
          </h2>
          <div class="job">
            <p>arbeitet nun im Bereich:</p>
            <a tuiLink routerLink="/jobs/details">
              <tui-badge
                [value]="application.jobangebot.fachgebiet.name"
              ></tui-badge>
            </a>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="content">
          <div class="date">
            <p>Beworben am: {{ application.datum | date: "shortDate" }}</p>
          </div>
          <div class="files">
            <a
              tuiLink
              routerLink="/employer/myjobs/openApplications/applicantDetailView"
              [queryParams]="{
                bewerbungId: application.bewerbungid,
                bewerberId: application.bewerber.bewerberid
              }"
              class="file"
            >
              <tui-avatar
                [text]="
                  application.bewerber.vorname + ' ' + application.bewerber.name
                "
                size="l"
                [rounded]="true"
              ></tui-avatar>
            </a>

            <button
              class="file"
              tuiButton
              (click)="show(actions, 'Anschreiben')"
            >
              Anschreiben
            </button>
            <button
              class="file"
              tuiButton
              (click)="show(actions, 'Lebenslauf')"
            >
              Lebenslauf
            </button>
          </div>
        </div>
      </div>
    </a>
  </div>
</ng-container>

<tui-root>
  <ng-template #actions let-content="content">
    <a tuiButton shape="rounded" size="s" download [href]="content">
      Download
    </a>
  </ng-template>
</tui-root>
