@import "../../../../scss/colors.scss";

.parent {
    display: flex;
    flex-direction: column;

    background-color: $color-4;
    width: 500px;
    border-radius: 16pt;

    .info {
        background-color: green;
        border-radius: 16pt 16pt 16pt 0pt;
        .heading {
            display: flex;
            flex-direction: row;

            padding-left: 32pt;
            padding-right: 32pt;

            justify-content: space-between;
            align-items: center;
            color: black;

            h2 {
                font-weight: bolder;
            }
        }
        p {
            font-size: 12px;
            padding: 0pt 16pt 0pt 16pt;
        }
    }

    .content {
        padding: 0pt 32pt 32pt 32pt;
        .date{
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
        }
    }
}
