<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="header">
      <p>Guten Tag, <span class="markup"> Lukas!</span></p>
      <img src="assets/hello.svg">
    </div>

    <div class="main">

      <a size="l" tuiIsland [hoverable]="true" class="todo">

        <div class="content">
          <tui-scrollbar class="box">
            <div>
              <p class="todo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, ipsa delectus nisi, harum architecto ut similique deserunt, temporibus ipsum explicabo atque nam soluta labore accusantium optio rerum dolor rem quos?
              </p>
              <div class="todo">
                Hallo
              </div>
              <div class="todo">
                Hallo
              </div>
              <div class="todo">
                Hallo
              </div>
              <div class="todo">
                Hallo
              </div>
            </div>
          </tui-scrollbar>

        </div>

        <div class="input">
          <tui-input> Todo </tui-input>
          <button tuiButton> S</button>
        </div>
      </a>
    </div>
  </div>