.wrapper {
  display: flex;

  .container {
    background-color: aqua;
    height: calc(100vh - 64px);
    width: calc(100% - 400px);
    box-sizing: border-box;
    padding: 1em;

    .boxes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 50%;

      .chart {
        background-color: purple;
        width: 40%;
        height: 100%;
      }

      .applications {
        background-color: purple;
        width: 25%;
        height: 100%;
      }

      .todo {
        background-color: purple;
        width: 25%;
        height: 100%;
      }
    }

    .team {
      background-color: purple;
      width: 100%;
      height: 40%;
      margin-top: 1em;
    }
  }
}
