<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="header">
      <p>Guten Tag, <span class="markup"> Lukas!</span></p>
      <img src="assets/hello.svg">
    </div>

    <div class="main">

      <a tuiIsland [hoverable]="true" class="todo">
        <div class="content">
          <tui-scrollbar class="box">
            <form [formGroup]="testForm">
              <div class="todo">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, ipsa delectus nisi, harum
                  architecto ut similique deserunt, temporibus ipsum explicabo atque nam soluta labore accusantium optio
                  rerum dolor rem quos?
                </p>
                <tui-checkbox formControlName="finished" class="tui-space_bottom-3"></tui-checkbox>
              </div>
            </form>
          </tui-scrollbar>
        </div>

        <div class="input">
          <tui-input> Todo </tui-input>
          <button tuiButton> S</button>
        </div>
      </a>

      <div class="applications">
        <a tuiIsland [hoverable]="true" class="application">
          <div class="info">
            <div class="heading">
              <h2> Lukas Krinke </h2>
              <div class="job">
                <p>hat sich beworben auf:</p>
                <!-- TODO: ROUTER FUNKTIONIERT NICHT - Fehler in Console -->
                <a tuiLink routerLink="/jobs">
                  <tui-badge value="Designer"></tui-badge>
                </a>
              </div>
            </div>


          </div>
          <div class="main">
            <div class="content">
              <div class="date">
                <p> Beworben am: 23.04.2022</p>
              </div>
              <div class="files">
                <!-- TODO: ROUTER FUNKTIONIERT NICHT -->

                <a tuiLink routerLink="/applicantDetailView" class="file">
                    <tui-avatar text="Bild" size="xl" [rounded]="true"></tui-avatar>
                </a>

                <button class="file" tuiButton>
                  Anschreiben
                </button>
                <button class="file" tuiButton>
                  Lebenslauf
                </button>

              </div>
            </div>
            <div class="buttons">
              <button tuiButton class="accept">
                Annehmen
              </button>
              <button tuiButton appearance="accent" class="decline">
                Ablehnen
              </button>
            </div>
          </div>
        </a>

      </div>

    </div>
  </div>