<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="boxes">
      <div class="chart">
        <tui-axes
        class="axes"
          axisX="solid"
          [axisXLabels]="axisXLabels"
          [verticalLines]="12"
          axisY="solid"
          [axisYLabels]="axisYLabels"
          axisYName="Eingegangene Bewerbungen"
          [horizontalLines]="5"
          ><tui-line-chart
            [x]="0"
            [y]="0"
            [width]="11"
            [height]="200"
            [smoothingFactor]="50"
            [value]="value"
            [filled]="true"
          ></tui-line-chart
        ></tui-axes>
      </div>

      <div class="applications"></div>

      <div class="todo">
        <h1 class="title">Todos</h1>
        
        <button tuiButton appearance="outline" icon="tuiIconPlusLarge" size="s">
          Hinzufügen
        </button>
      </div>
    </div>
    <div class="team"></div>
  </div>
</div>
