@import "../../scss/colors.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  .container {
    flex-grow: 2;
    .header {
      padding: 0px;
      height: 200px;
      background-color: $color-4;
      width: 90%;
      border-radius: 0px 100px 100px 0px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding-inline: 50px;

      img {
        float: right;
        height: 150px;
      }

      p {
        font-size: 80px;
        .markup {
          color: #7dff63;
        }
      }
    }

    .main {
      padding: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 50px;
      .todo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        width: 40%;
        background-color: $color-4;
        height: 500px;

        .content {
          height: 80%;
          padding: 10px;
          .box {
            height: 100%;
          }
          .todo {
            display: flex;
            flex-direction: row;
            width: 96%;
            height: fit-content;

            background-color: $color-3;

            padding: 10px;

            border-radius: 5px;
            margin-bottom: 10px;
          }
        }
        .input {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 10px;

          width: 100%;

          tui-input {
            width: 80%;
          }
        }
      }

      
      .applications{
        height: 500px;
        width: 40%;
        padding: 10px;
      }
    }
  }
}
