<div *ngIf="applications$ | async | successValue as applications">
  <app-header
    text="Es gibt"
    [subheading]="applications[0].jobangebot.title"
    [markup]="applications.length + ' Bewerbung(en)!'"
    img="assets/interview.svg"
  ></app-header>
  <div class="container">
    <app-open-applications
      *ngFor="let application of applications"
      [job]="application.jobangebot.title"
      [name]="application.bewerber.vorname + ' ' + application.bewerber.name"
      [beworbenAm]="application.datum"
      [bewerbungId]="application.bewerbungid"
      [bewerberId]="application.bewerber.bewerberid"
    ></app-open-applications>
  </div>
</div>
