<app-header text="Es gibt" subheading="[Jobname]" markup="[wert] Bewerbungen!" img="assets/interview.svg"></app-header>
<div class="container">
    <app-open-applications job="Designer" name="Lukas Krinke" beworbenAm="23.04.22"></app-open-applications>
    <app-open-applications job="Designer" name="Lukas Krinke" beworbenAm="23.04.22"></app-open-applications>
    <app-open-applications job="Designer" name="Lukas Krinke" beworbenAm="23.04.22"></app-open-applications>
    <app-open-applications job="Designer" name="Lukas Krinke" beworbenAm="23.04.22"></app-open-applications>
</div>
