@import "../../../../../scss/colors.scss";

.container{
  background-color: $color-4;
  border-radius: 16pt;
}
.heading {
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  background-color: $color-2;
  border-radius: 16pt 16pt 16pt 0pt;
  color: $color-4;

  span {
    margin-left: 10px;
  }
}
.text {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 0;
  text-align: justify;
  padding: 16pt;
}
