<a tuiIsland [hoverable]="true" class="application">
  <div class="info">
    <div class="heading">
      <h2> {{name}} </h2>
      <div class="job">
        <p>hat sich beworben auf:</p>
        <a tuiLink routerLink="/jobs/details">
          <tui-badge [value]="job"></tui-badge>
        </a>
      </div>
    </div>


  </div>
  <div class="main">
    <div class="content">
      <div class="date">
        <p> Beworben am: {{ beworbenAm }}</p>
      </div>
      <div class="files">

        <a tuiLink routerLink="../employer/myjobs/openApplications/applicantDetailView" class="file">
          <tui-avatar [avatarUrl]="avatar" text="Bild" size="xl" [rounded]="true"></tui-avatar>
        </a>

        <button class="file" tuiButton>
          Anschreiben
        </button>
        <button class="file" tuiButton>
          Lebenslauf
        </button>

      </div>
    </div>
    <div class="buttons">
      <tui-hosted-dropdown class="accept" [content]="dropdown" [(open)]="open">
        <div tuiGroup>
          <button tuiButton type="button" size="l" class="btn">
            Annehmen
          </button>
          <button tuiIconButton type="button" tuiHostedDropdownHost title="Menu" size="l"
            class="tui-group__auto-width-item" [iconRight]="icon"></button>
          <ng-template #icon>
            <tui-svg src="tuiIconChevronDown" class="icon" [class.icon_rotated]="open"></tui-svg>
          </ng-template>
        </div>
      </tui-hosted-dropdown>
      <button tuiButton appearance="accent" class="decline">
        Ablehnen
      </button>
    </div>
  </div>
</a>

<ng-template #dropdown let-activeZone>
  <tui-data-list>
    <button tuiOption>Weiterleiten</button>
    <button tuiOption>Delegieren (so beides Popup öffnen)</button>
  </tui-data-list>

</ng-template>