@import "../../../../scss/colors.scss";

.application{
    padding: 0px;
    border-radius: 16pt;
    margin-right: 0px;
    width: 100%;
    background-color: $color-4;
    .info {
      background-color: #7dff63;
      border-radius: 16pt 16pt 16pt 0pt;
      .heading {
        display: flex;
        flex-direction: row;
  
        padding-left: 32pt;
        padding-right: 32pt;
  
        justify-content: space-between;
        align-items: center;
        color: black;
        
        .job{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          tui-badge {
            padding: 15px;
            color: black;
          }
        }
        
        
      }
      p {
        font-size: 12px;
        padding: 0pt 16pt 0pt 16pt;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      padding: 10px;
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .date {
          display: flex;
          justify-content: flex-end;
          font-size: 12px;
        }
        .files {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 10px;
  
          .file {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            border-radius: 16pt;
            background-color: $color-3;
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;

      padding-top: 10px;

      .accept {
        width: 49%;
      }

      .btn{
        width: 79%;
      }


      .decline {
        width: 49%;
      }
    }
  }