<div class="container">
  <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
    <div class="card">
      <h3>Basics</h3>
      <form>
        <tui-input
          tuiTextfieldSize="m"
          [formControl]="titleControl"
          (input)="saveTitle()"
        >
          Titel
          <input tuiTextfield type="text" />
        </tui-input>
        <tui-select
          tuiTextfieldSize="l"
          class="tui-group__inherit-item first-select"
          [tuiTextfieldLabelOutside]="true"
          [formControl]="typeControl"
          (focusedChange)="saveType()"
          >Art der Beschäftigung
          <tui-data-list-wrapper
            *tuiDataList
            [items]="mockTypesOfEmployment"
          ></tui-data-list-wrapper>
        </tui-select>
        <tui-select
          tuiTextfieldSize="l"
          class="tui-group__inherit-item b-form"
          [formControl]="sectionControl"
          (focusedChange)="saveSection()"
        >
          Fachgebiet
          <tui-data-list-wrapper
            *tuiDataList
            size="l"
            [items]="mockExpertiseAreas"
            [itemContent]="content"
          >
          </tui-data-list-wrapper>
        </tui-select>
        <tui-input-date
          tuiTextfieldSize="m"
          [formControl]="deadlineControl"
          (focusedChange)="saveDeadline()"
        >
          Bewerbungsfrist
          <input tuiTextfield type="text" />
        </tui-input-date>
        <tui-input-date
          tuiTextfieldSize="m"
          [formControl]="startDateControl"
          (focusedChange)="saveStartDate()"
        >
          Beginn des Vertrags
          <input tuiTextfield type="text" />
        </tui-input-date>

        <div class="toggle">
          <p>Befristet</p>
          <tui-toggle
            size="l"
            [formControl]="temporaryControl"
            (change)="saveTemporary()"
          ></tui-toggle>
        </div>

        <tui-input-date
          *ngIf="temporaryControl.value === true"
          tuiTextfieldSize="m"
          [formControl]="endControl"
          (focusedChange)="saveEndDate()"
        >
          Endedatum des Vertrags
          <input tuiTextfield type="text" />
        </tui-input-date>
      </form>
    </div>
  </a>
  <a size="l" tuiIsland [hoverable]="true" textAlign="center">
    <div class="card">
      <h3>Addresse</h3>
      <tui-input
        tuiTextfieldSize="m"
        [formControl]="streetControl"
        (input)="saveStreet()"
        >Straße</tui-input
      >
      <tui-input
        tuiTextfieldSize="m"
        [formControl]="numberControl"
        (input)="saveNumber()"
        >Hausnummer</tui-input
      >
      <tui-input
        tuiTextfieldSize="m"
        [formControl]="plzControl"
        (input)="savePlz()"
        >PLZ</tui-input
      >
      <tui-input
        tuiTextfieldSize="m"
        [formControl]="townControl"
        (input)="saveTown()"
        >Stadt</tui-input
      >
      <tui-input
        tuiTextfieldSize="m"
        [formControl]="countryControl"
        (input)="saveCountry()"
        >Land</tui-input
      >
    </div>
  </a>
  <a size="l" tuiIsland [hoverable]="true" textAlign="center">
    <div class="card">
      <h3>Kurzbeschreibung</h3>
      <tui-text-area
        [expandable]="false"
        [tuiTextfieldCleaner]="true"
        [formControl]="shortDescriptionControl"
        (input)="saveShortDescription()"
      >
        (max. 500 Zeichen)
      </tui-text-area>
    </div>
  </a>
  <a size="l" tuiIsland [hoverable]="true" textAlign="center">
    <div class="card">
      <h3>Ausführliche Beschreibung</h3>
      <tui-text-area
        [expandable]="false"
        [tuiTextfieldCleaner]="true"
        [formControl]="descriptionControl"
        (input)="saveDescription()"
      >
      </tui-text-area>
    </div>
  </a>
  <a size="l" tuiIsland [hoverable]="true" textAlign="center">
    <div class="card">
      <h3>Vorteile</h3>
      <tui-input
        tuiTextfieldSize="m"
        [formControl]="vacationControl"
        (input)="saveVacation()"
      >
        Urlaubstage
        <input tuiTextfield type="text" />
      </tui-input>

      <form>
        <div class="toggle">
          <p>Remote</p>
          <tui-toggle
            size="l"
            [formControl]="remoteControl"
            (change)="saveRemote()"
          ></tui-toggle>
        </div>
      </form>
      <tui-input
        tuiTextfieldSize="m"
        [formControl]="wageMonthControl"
        (input)="saveWageMonth()"
      >
        Monatsgehalt
        <input tuiTextfield type="text" />
      </tui-input>
      <tui-input
        tuiTextfieldSize="m"
        [formControl]="wageYearControl"
        (input)="saveWageYear()"
      >
        Jahresgehalt
        <input tuiTextfield type="text" />
      </tui-input>
      <br />
      <tui-input
        tuiTextfieldSize="m"
        [formControl]="advantagesControl"
        (input)="saveAdvantages()"
      >
        Weitere Vorteile
        <input tuiTextfield type="text" />
      </tui-input>
    </div>
  </a>

  <a size="l" tuiIsland [hoverable]="true" textAlign="center">
    <div class="card spacing">
      <img src="assets/check.svg" alt="" />
      <h2>Alles richtig ?</h2>
      <button tuiButton type="button">Veröffentlichen</button>
    </div>
  </a>
</div>

<ng-template #content let-data>
  <div class="template">
    <tui-avatar size="xs" class="avatar" [text]="data"></tui-avatar>
    <div class="name">{{ data }}</div>
  </div>
</ng-template>
