<div class="container">
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">
            <h3> Basics</h3>
            <tui-input tuiTextfieldSize="m">
                Titel
                <input tuiTextfield type="text" />
            </tui-input>
            <tui-input tuiTextfieldSize="m">
                Bewerbungstyp
                <input tuiTextfield type="text" />
            </tui-input>
            <tui-input tuiTextfieldSize="m">
                Fachgebiet
                <input tuiTextfield type="text" />
            </tui-input>
            <tui-input tuiTextfieldSize="m">
                Bewerbungsfrist
                <input tuiTextfield type="text" />
            </tui-input>

            <form [formGroup]="testForm">
                <div class="toggle">
                    <p> Befristet </p>
                    <tui-toggle formControlName="befristet" size="l"></tui-toggle>
                </div>
            </form>
            <tui-input *ngIf="testForm.controls['befristet'].value" tuiTextfieldSize="m">
                Endedatum des Vertrags
                <input tuiTextfield type="text" />
            </tui-input>


        </div>
    </a>
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">
            <h3>Addresse</h3>
            <tui-input tuiTextfieldSize="m">Land</tui-input>
            <tui-input tuiTextfieldSize="m">Straße</tui-input>
            <tui-input tuiTextfieldSize="m">Hausnummer</tui-input>
            <tui-input tuiTextfieldSize="m">PLZ</tui-input>
            <tui-input tuiTextfieldSize="m">Stadt</tui-input>

        </div>
    </a>
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">
            <h3> Kurzbeschreibung</h3>
            <tui-text-area [expandable]="false" [tuiTextfieldCleaner]="true">
                (max 500 Zeichen)
            </tui-text-area>
        </div>
    </a>
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">
            <h3> Ausführliche Beschreibung</h3>
            <tui-text-area [expandable]="false" [tuiTextfieldCleaner]="true">

            </tui-text-area>
        </div>
    </a>
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">
            <h3>Vorteile</h3>
            <tui-input tuiTextfieldSize="m">
                Urlaubstage
                <input tuiTextfield type="text" />
            </tui-input>

            <form [formGroup]="testForm">
                <div class="toggle">
                    <p> Remote </p>
                    <tui-toggle formControlName="isRemote" size="l"></tui-toggle>
                </div>
            </form>
            <tui-input tuiTextfieldSize="m">
                Monatsgehalt
                <input tuiTextfield type="text" />
            </tui-input>
            <tui-input tuiTextfieldSize="m">
                Weitere Vorteile
                <input tuiTextfield type="text" />
            </tui-input>
        </div>

    </a>

    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card spacing">
            <img src="assets/check.svg" alt="">
            <h2> Alles richtig ?</h2>
            <button tuiButton type="button">
                Veröffentlichen
            </button>
        </div>
    </a>
</div>