@import "../../../../../scss/colors.scss";

.container {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: space-around;
}
a {
  background-color: $color-4;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    width: 15rem;
    height: 100%;
    border-radius: 16pt;

    tui-input, tui-input-date {
      width: 100%;
    }

    tui-text-area {
      width: 100%;
      height: 100%;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      tui-select{
        width: 100%;
      }
      .toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
      }
    }

    img {
      height: 200px;
    }
  }
  .spacing {
    justify-content: space-between;
  }
}

.template {
  display: flex;
  align-items: center;

  .avatar {
    margin-right: 8px;
    flex-shrink: 0;
  }

  .name {
    text-overflow: ellipsis;
    flex-shrink: 1;
  }
}