<div class="container">
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">
            
        </div>
    </a>
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">

        </div>
    </a>
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">

        </div>
    </a>
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">

        </div>
    </a>
    <a size="l" tuiIsland target="_blank" [hoverable]="true" textAlign="center">
        <div class="card">

        </div>
    </a>
</div>