@import "../../../../scss/colors.scss";

a{
  
  background-color: $color-4;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 16pt;
    
  }
}
#title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  p{
    padding-top: 25px;
  }
}