.parent{
    display: flex;
    flex-direction: row;

    .main{
        display: flex;
        flex-direction: column;
        background-color: red;
        width: 75%;
        .box{
            padding-left: 50px;
            padding-right: 50px;
        }
        .input{
            display: flex;
            flex-direction: row;
            tui-primitive-textfield{
                width: 50%;
                padding: 10px;
            }
        }
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: green;
        width: 25%;
        padding-top: 50px;;
    }
}