<div class="main">
  <div class="image"></div>
  <div class="content">
    <div class="text">
      <p id="heading">Dein Lebenslauf, <span class="markup">Lukas!</span></p>
    </div>
    <img src="assets/writing_resume.svg" alt="" />
  </div>
</div>

<div class="parent">
  <div class="sidebar">
    <tui-avatar
      [avatarUrl]="avatar"
      size="xxl"
      class="tui-space_top-1"
      [rounded]="true"
    ></tui-avatar>
    <div class="file">Lebenslauf-PDF hier</div>
  </div>
  <div class="main">
    <div class="basic-info">
      <div class="box first">
        <div class="heading">
          <p>Name</p>
          <a tuiLink (click)="updateAccount()"> Speichern </a>
        </div>
        <div class="input">
          <tui-input [formControl]="firstNameControl" (input)="saveFirstName()"
            >Vorname</tui-input
          >
          <tui-input [formControl]="lastNameControl" (input)="saveLastName()"
            >Name</tui-input
          >
        </div>
        <div class="heading">
          <p>Kontakt</p>
          <a tuiLink (click)="updateAccount()"> Speichern </a>
        </div>
        <div class="input">
          <tui-input [formControl]="emailControl" (input)="saveEmail()"
            >Email</tui-input
          >
          <tui-input [formControl]="phoneControl" (input)="savePhone()"
            >Telefonnummer</tui-input
          >
        </div>
      </div>

      <div class="box">
        <div class="heading">
          <p>Addresse</p>
          <a tuiLink> Speichern </a>
        </div>
        <div class="input">
          <tui-input [formControl]="streetControl" (input)="saveStreet()"
            >Straße</tui-input
          >
          <tui-input [formControl]="numberControl" (input)="saveNumber()"
            >Hausnummer</tui-input
          >
        </div>
        <div class="input">
          <tui-input [formControl]="plzControl" (input)="savePlz()"
            >PLZ</tui-input
          >
          <tui-input [formControl]="townControl" (input)="saveTown()"
            >Stadt</tui-input
          >
          <tui-input [formControl]="countryControl" (input)="saveCountry()"
            >Land</tui-input
          >
        </div>
      </div>
    </div>
    <div class="interessen">
      <p>Interessen</p>
      <div class="i-content">
        <div class="interests" *ngIf="interests$ | async | isSuccess">
          <ng-container *ngIf="interests$ | async | successValue as interests">
            <tui-badge
              *ngFor="let interest of interests"
              size="l"
              status="primary"
              [value]="interest.name"
            >
            </tui-badge>
          </ng-container>
        </div>
        <tui-root>
          <div class="button">
            <button
              tuiButton
              type="button"
              size="m"
              icon="tuiIconPlusLarge"
              (click)="showInterestDialog()"
            >
              Add
            </button>
          </div>
        </tui-root>
      </div>
    </div>
  </div>
  <div class="lebenslauf">
    <p>Lebenslauf</p>
    <app-timeline-view></app-timeline-view>
  </div>
</div>
