@import '../../../../scss/colors.scss';

.main{
    position: relative;
    height: 100%;
    width: 100%;
}
.image{

    background-color: $color-4;
    height: 150px;
    width: 90%;
    border-radius: 0px 500px 500px 0px;

}

.content{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    img{
        height: 90%;
        padding: 16px;
        margin-right: 5%;
    }
}

.text{
    display: flex;
    padding-left: 100px;
    align-items: center;
    width: 100%;
    p{
        width: 90%;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        .markup{
            color: #7DFF63;
        }
       
    }

    #heading{
        
        margin: 0px;
        
        @media screen and (max-width: 480px) {
            font-size: 20px;
            line-height: 20px;
        }
        @media screen and (min-width: 481px) {
            font-size: 30px;
            line-height: 30px;
        }
        @media screen and (min-width: 735px) {
            font-size: 50px;
            line-height: 50px;
        }
        @media screen and (min-width: 1140px) {
            font-size: 70px;
            line-height: 80px;
        }
    }

    #content{
        font-size: xx-large;
    }
}
.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    @media screen and (max-width: 1930px) {
        justify-content: center;
    }
    @media screen and (min-width: 1931px) {
        justify-content: flex-start;
    }
    
    
    .sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 50px;
        padding-top: 50px;
        width: 100%;
        max-width: 300px;
        .file{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
            align-items: center;
            height: 30em;
            background-color: $color-4;
            border-radius: 16px;
            width: 90%;
            padding: 10px;

            button{
                width: 100%;
                padding: 5px;
            }
        }
    }

    .main{
        width: fit-content;
        min-width: 45%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1816px) {
            align-items: center;
        }

        .heading{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            --tui-link: #86c232;
            --tui-link-hover: #7DFF63 ;
        }
        .basic-info{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            min-width: 350px;
            @media screen and (max-width: 1816px) {
                justify-content: center;
            }
            @media screen and (min-width: 1817px) {
                justify-content: space-between;
            }
            
            
            margin-bottom: 10px;
            p{
                color: #7DFF63;
            }
            
            .box{
                padding: 40px 50px 10px 50px;
                width: 100%;
                max-width: 300px;
                background-color: $color-4;
                border-radius: 16pt;
                height: 450px;
                margin-top: 50px;

            }
            .first{
                margin-right: 10px;
            }
            .input{
                display: flex;
                flex-direction: column;

                tui-input{
                    padding-bottom: 30px;
                }
            }
        }
        .interessen{
            display: flex;
            flex-direction: column;
            gap: 10px;
            @media screen and (max-width: 1824px) {
                max-width: 300px;
                
            }
            @media screen and (min-width: 1825px) {
                max-width: 760px;
            }
            
            p{
                color: #7DFF63;
            }
            background-color: $color-4;
            border-radius: 16pt;
            padding: 10px 50px 10px 50px;
            margin: 10px;
            .i-content{
                
                .interests{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 10px;
                    width: 100%;
                    
                }
                .badge{
                    color: black;
                    width: fit-content;
                    background-color: #7DFF63;
                    border-radius: 16pt;
                    padding: 10px;
                }
            }
        }
    }
    
    .lebenslauf{

        @media screen and (max-width: 571px) {
            width: 360px;
        }
        @media screen and (min-width: 570px) {
            min-width: 500px;
        }
        
        p{
            color: #7DFF63;
        }
        padding-top: 50px;
        padding-left: 50px;
        margin: 50px 5px 0px 0px;
        border-radius: 16pt;
        width: 35%;
        background-color: $color-4;
    }
}

.dialogActions{
    a{
        padding-left: 10px;
    }
}