<div class="main">
  <div class="image"></div>
  <div class="content">
    <div class="text">
      <p id="heading">Dein Lebenslauf, <span class="markup">Lukas!</span></p>
    </div>
    <img src="assets/writing_resume.svg" alt="" />
  </div>
</div>

<div class="parent">
  <div class="sidebar">
    <tui-avatar
      [avatarUrl]="avatar"
      size="xxl"
      class="tui-space_top-1"
      [rounded]="true"
    ></tui-avatar>
    <div class="file">Lebenslauf-PDF hier</div>
  </div>
  <div class="main">
    <div class="basic-info">
      <div class="box first">
        <p>Name</p>
        <div class="input">
          <tui-primitive-textfield>Vorname</tui-primitive-textfield>
          <tui-primitive-textfield>Name</tui-primitive-textfield>
        </div>
        <p>Kontakt</p>
        <div class="input">
          <tui-primitive-textfield>Email</tui-primitive-textfield>
          <tui-primitive-textfield>Telefonnummer</tui-primitive-textfield>
        </div>
      </div>

      <div class="box">
        <p>Addresse</p>
        <div class="input">
          <tui-primitive-textfield>Straße</tui-primitive-textfield>
          <tui-primitive-textfield>Hausnummer</tui-primitive-textfield>
        </div>
        <div class="input">
          <tui-primitive-textfield>PLZ</tui-primitive-textfield>
          <tui-primitive-textfield>Stadt</tui-primitive-textfield>
        </div>
      </div>
    </div>
    <div class="interessen">
      <p>Interessen</p>
      <div class="i-content">
        <div class="interests" *ngIf="interests$ | async | isSuccess">
          <ng-container *ngIf="interests$ | async | successValue as interests">
            <tui-badge
              *ngFor="let interest of interests"
              size="l"
              status="primary"
              [value]="interest.name"
            >
            </tui-badge>
          </ng-container>
        </div>
        <tui-root>
          <div class="button">
            <button
              tuiButton
              type="button"
              size="m"
              icon="tuiIconPlusLarge"
              (click)="showInterestDialog()"
            >
              Add
            </button>
          </div>
        </tui-root>
      </div>
    </div>
  </div>
  <div class="lebenslauf">
    <p>Lebenslauf</p>
    <app-timeline-view></app-timeline-view>
  </div>
</div>
