.parent{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40pt 40pt 0pt 40pt;
    .settings{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 40px;
        
    }
}

.applications{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px;
    gap: 100px;
}

.vl {
    border-left: 1px solid gray;
}

.spacer{
    flex-grow: 4;
}