<div class="parent">
    <h1>Dashboard</h1>
    <div class="settings">
        <app-category-card category="Lebenslauf bearbeiten"></app-category-card>
        <app-category-card category="Angefangen Bewerbungen"></app-category-card>
        <app-category-card category="Offene Bewerbungen"></app-category-card>
        <app-category-card category="Zur Job-Suche"></app-category-card>
    </div>
    <hr>
    <h1>Bewerbungen</h1>
    <div class="applications">
        <app-application-card title="Titel" status="Gesendet"></app-application-card>
        <app-application-card title="Titel" status="Gelesen"></app-application-card>
        <div class="vl"></div>
        <div class="spacer"></div>
        <app-information-card message="Das hier als ngIF, aber wie? Und Status auch übergeben"></app-information-card>
    </div>
</div>