<div class="parent">
  <app-greetings-header></app-greetings-header>

  <div class="content">
    <div class="settings">
      <app-category-card
        category="Lebenslauf bearbeiten"
        link="cv"
        img="assets/resume.svg"
      ></app-category-card>
      <app-category-card
        category="Abgeschickte Bewerbungen"
        link="startedApplications"
        img="assets/jobs.svg"
      ></app-category-card>
      <app-category-card
        category="Zur Job-Suche"
        link="../jobs"
        img="assets/job_offers.svg"
      ></app-category-card>
      <app-settings-card></app-settings-card>
    </div>
    <app-application-list-item
      *ngIf="applications$ | async | successValue as applications"
      [id]="applications[0].bewerbungid ?? 100000000"
      [title]="applications[0].jobangebot.title"
      [typ]="applications[0].jobangebot.bewerbungstyp.art"
      [startDate]="applications[0].datum"
      [description]="applications[0].jobangebot.kurzbeschreibung"
      [status]="applications[0].status"
    ></app-application-list-item>
  </div>
</div>
