
<div class="parent">
    <tui-scrollbar class="box">
        <div class="timeline">
            <div *ngFor="let station of stations; index as i" class="container"
                [ngClass]=" i%2 == 0 ? 'left' : 'right'">
                <div class="content">
                    <div class="heading">
                        <h2>{{ station.year }}</h2>
                        <tui-marker-icon *ngIf="station.file !== ''" mode="link" size="xs" src="tuiIconFile"></tui-marker-icon>
                    </div>
                    <p>{{ station.content }} </p>
                </div>
            </div>
        </div>
    </tui-scrollbar>
        <div class="button">
            <button tuiButton type="button" size="m" icon="tuiIconPlusLarge" (click)="showCVDialog()">
                Add
            </button>

        </div>
</div>
