<div class="parent">
    <div class="timeline">
        <div *ngFor="let station in stations; index as i" class="container" [ngClass]=" i%2 == 0 ? 'left' : 'right'">
            <div class="content">
                <h2>{{ i }}</h2>
                <p>{{ station }} </p>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <h2>2015</h2>
                <p>Hallo Hallo</p>
            </div>
        </div>
    </div>

    <div class="button">
        <button tuiButton type="button" size="m" icon="tuiIconPlusLarge" (click)="showDialog()">
            Add
        </button>

    </div>
</div>

<tui-root>
    <ng-template
        let-observer
        [tuiDialogOptions]="$any({ label: 'Lebenslaufstation', size: 's' })"
        [(tuiDialog)]="open"
    >
        <form>
            <p>Füge einen Meilenstein hinzu:</p>
            <tui-input
                tuiAutoFocus
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="value"
            >
                Meilenstein
            </tui-input>
            <tui-input
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="year"
            >
                Jahr
            </tui-input>
            <p>
                <button
                    tuiButton
                    type="submit"
                    (click)="observer.complete()"
                >
                    Ok
                </button>
            </p>
        </form>
    </ng-template>
</tui-root>