@import "../../../../../scss/colors.scss";

.group {
  width: 70%;
  padding: 5px;
  margin-left: 15%;
  margin-right: auto;
  border-radius: 10px;
  background: linear-gradient(-45deg, #adadad, $color-5);

  .tui-group__inherit-item {
    border-radius: initial;
  }

  button {
    max-width: 150px;

    ::ng-deep tui-wrapper[data-appearance="whiteblock"] {
      color: $color-2;
    }
  }
}

.template {
  display: flex;
  align-items: center;

  .avatar {
    margin-right: 8px;
    flex-shrink: 0;
  }

  .name {
    text-overflow: ellipsis;
    flex-shrink: 1;
  }
}

// To fix first border left radius in group
.tui-group_rounded.tui-group_orientation_horizontal > *:first-child {
  border-top-left-radius: var(--tui-radius-m);
  border-bottom-left-radius: var(--tui-radius-m);
}
