@import "../../../../../scss/colors.scss";

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    a {
        width: 100%;
        max-width: 500px;
        background-color: $color-4;
        .card {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
            height: 30rem;
            border-radius: 16pt;
            tui-select{
                padding-bottom: 10px;
            }
        }

        img{
            height: 250px;
        }
    }
}

.template {
    display: flex;
    align-items: center;
  
    .avatar {
      margin-right: 8px;
      flex-shrink: 0;
    }
  
    .name {
      text-overflow: ellipsis;
      flex-shrink: 1;
    }
  }