<app-header text="Du hast [wert]" markup="Bewerbungen!" img="assets/openApplications.svg"></app-header>
<div class="container">
    <app-open-applications job="Designer" name="Lukas Krinke" beworbenAm="23.04.22"></app-open-applications>
    <app-open-applications job="Informatik" name="Lukas Krinke" beworbenAm="23.04.22"></app-open-applications>
    <app-open-applications job="Designer" name="Lukas Krinke" beworbenAm="23.04.22"></app-open-applications>
    <app-open-applications job="Designer" name="Lukas Krinke" beworbenAm="23.04.22"></app-open-applications>
</div>